body{
    text-align: center;
    background-color: beige;
}

#textbox{
     margin-top: 100px;
     font-size: medium;
     font-style: normal;
     background-color: black;

}


button{
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
